/*Background*/

body {
    background-image: url("../images/background.jpg");
} 

.jumbotron {
    background: none
}

.button {
    font-size: 50px;
    font
}

h4 {
    color: black;
    font-weight: bold;
    font-size: 45px;

}

h6 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}